@model IEnumerable<acadgest.Models.User.AppUser>

@{
    ViewData["Title"] = "Lista de Usuários";
}

<h2>Lista de Usuários</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome completo</th>
            <th>Nome de Usuário</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-warning">Editar</a>
                    <form asp-action="DeleteUser" method="post" style="display:inline;">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <button type="submit" class="btn btn-danger"
                            onclick="return confirm('Tem certeza que deseja excluir este usuário?');">Deletar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
