@model acadgest.Dto.Class.ClassDetailsDto

@{
    ViewData["Title"] = "Pauta de turma";
}

<div class="row">

    <div class="desc row shadow shadow-sm shadow-black rounded-0">
        <div class="col-8">
            <h3 class="">@Model.Name</h3>
            <h3 class="">@Model.Grade - @Model.Course</h3>
        </div>
        <div class="ris col-4 text-center">
            <p class="fs-4 ">@Model.ClassDirector</p>
            <div>
                <div class="row">

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="pupil" asp-action="add" asp-route-id="@Model.Id">
                            <button class="btn btn-primary mb-1">+alunos</button>
                        </a>
                        <a asp-controller="Subject" asp-action="add" asp-route-id="@Model.Id">
                            <button class="btn btn-primary mb-1">+Cadeira</button>
                        </a>
                    }
                </div>
                <div class="row">
                    <div class="col-4">
                        <form asp-controller="Class" asp-action="Index" asp-route-id="@Model.Id" method="get">
                            <input type="hidden" name="trim" value="1">
                            @if(Model.Trimestre == 1){
                            <button class="btn btn-primary mb-1" type="submit">1º Trimestre</button>
                            }else{
                            <button class="btn btn-secondary mb-1" type="submit">1º Trimestre</button>
                            }
                        </form>
                    </div>
                    <div class="col-4">
                        <form asp-controller="Class" asp-action="Index" asp-route-id="@Model.Id" method="get">
                            <input type="hidden" name="trim" value="2">
                            @if(Model.Trimestre == 2){
                            <button class="btn btn-primary mb-1" type="submit">2º Trimestre</button>
                            }else{
                            <button class="btn btn-secondary mb-1" type="submit">2º Trimestre</button>
                            }
                        </form>
                    </div>
                    <div class="col-4">
                        <form asp-controller="Class" asp-action="Index" asp-route-id="@Model.Id" method="get">
                            <input type="hidden" name="trim" value="3">
                            @if(Model.Trimestre == 3){
                            <button class="btn btn-primary mb-1" type="submit">3º Trimestre</button>
                            }else{
                            <button class="btn btn-secondary mb-1" type="submit">3º Trimestre</button>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="table-container mt-4">
        <table class="table table-striped">
            <thead class="bg-white p-0">
                <th class="text-black">Nome</th>
                <th class="text-black">Gênero</th>
                @foreach (var subject in Model.Subjects)
                {
                    <th class="text-black">
                        <form asp-controller="Mark" asp-action="Index" asp-route-id="@subject.Id" method="get">
                            <input type="hidden" name="trim" value="@Model.Trimestre">
                            <button class="btn btn-primary" type="submit">@subject.Name</button>
                        </form>
                    </th>
                }
                <th class="text-black">
                    <a asp-controller="Document" asp-action="ClassBoletim" asp-route-id="@Model.Id">
                        <button type="button" class="btn btn-secondary">
                            Boletins
                        </button>
                    </a>
                </th>
            </thead>

            <tbody id="tbody-@Model.Id">
                @foreach (var pauta in Model.Pautas)
                {
                    <tr>
                        <td>@pauta.PupilName</td>
                        @if (pauta.PupilGender == "F")
                        {
                            <td class="text-center bg-female">@pauta.PupilGender</td>
                        }
                        else
                        {
                            <td class="text-center bg-male">@pauta.PupilGender</td>
                        }
                        @foreach (var nota in pauta.Marks)
                        {
                            <td>@nota.ToString("0.0")</td>
                        }
                        <td>
                            <a asp-controller="Document" asp-action="Boletim" asp-route-id="@pauta.PupilId">
                                <button class="btn btn-secondary">Boletim</button>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>
