@model IEnumerable<acadgest.Dto.Class.ClassDto>

@{
    ViewData["Title"] = "Admin";
}


<div class="row">

    @foreach (var turma in Model)
    {
        <div class="card col-4 border border-primary">
            <div class="card-body">
                <h5 class="card-title">@turma.Name.ToUpper()</h5>

                <div class="d-flex justify-content-between">
                    <div>
                        <p class="card-text">@turma.ClassDirectorName</p>
                    </div>
                    <a asp-controller="Admin" asp-action="EditCoordinator" asp-route-id="@turma.Id"
                        class="btn btn-warning">Edit</a>
                </div>

            </div>
            <div class="card-body d-flex justify-content-around">
                <form asp-controller="Coordenation" asp-action="Delete" asp-route-id="@turma.Id" method="post"
                    style="display:inline;">
                    <button type="submit" class="btn btn-danger"
                        onclick="return confirm('Tem certeza que deseja excluir este usuário?');">Deletar</button>
                </form>
                <a asp-controller="Coordenation" asp-action="Edit" asp-route-id="@turma.Id"
                    class="btn btn-warning">Editar</a>
                <a asp-controller="Class" asp-action="Index" asp-route-id="@turma.Id"
                    class="btn btn-primary">Pauta</a>
            </div>
        </div>

    }
    <div class="card col-4 d-flex justify-content-center align-items-center border border-primary">
        <a class="btn-primary rounded text-decoration-none" asp-route-id="@ViewData["coord"]" asp-controller="Class"
            asp-action="NewClass" role="button"><b class="fs-1">+</b></a>
    </div>


</div>